<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.ssafy.enjoytrip.user.dao.IUserDAO">

	<insert id="insert" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO user (username, email, password, name) VALUES (#{username}, #{email}, #{password}, #{name})
	</insert>
	<update id="update">
		UPDATE user SET username = #{username}, email = #{email}, password = #{password}, name = #{name} WHERE id = #{id}
	</update>
	<delete id="delete">
		DELETE FROM user WHERE id = #{id}
	</delete>
	<select id="getUserByEmail" resultType="com.ssafy.enjoytrip.user.dto.UserDTO">
		SELECT
			id,
			username,
			email,
			password,
			name,
			role
		FROM user WHERE email = #{email}
	</select>
</mapper>
